<h1>Checkout and Payment</h1>

<hr />

<h2>Review your order</h2>

<div class="formWrapper">
  <form id="cartCheckout" action="/api/checkout" method="POST">
    <div class="formError"></div>
    <div class="formDelayedSuccess">Your order has been placed. You'll be redirected to your Shopping Cart page till 5 second.</div>
    <input class="hiddenEmailAddressInput" type="hidden" name="email" />
    <div class="inputWrapper">
      <div class="inputLabel">Total articles</div>
      <input class="disabled displayTotalCountInput" type="text" name="totalCount" disabled />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Total price (USD)</div>
      <input class="disabled displayTotalPriceInput" type="text" name="totalPrice" disabled />
    </div>
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta green">Checkout</button>
    </div>
  </form>
</div>
